{{ form_start(form) }}
    
    {{ form_row(form.name, {'attr':{'class':'form form-control'}}) }}
   <br>
     {{ form_row(form.image, {'attr':{'class':'form'}}) }}
        <br>
        {{ form_row(form.price, {'attr':{'class':'form form-control'}}) }}

<br>
{% if button_label != "Update" %}
    

{{ form_row(form.stock, {'attr':{'class':'form form-control'}}) }}
{% endif %}
<br>
         {{ form_row(form.subCategories, {'attr':{'class':'form form-control'}}) }}
  <br>

        {{ form_row(form.description, {'attr':{'class':'form form-control'}}) }}
    <br> <br> <br>
    <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
